@import '../variables.scss';

.app.dark {
    --bg-color: var(--primary-dark);
    --primary-color: var(--primary-white);
    --secondary-color: var(--primary-yellow);

    --inverted-bg-color: var(--primary-white);
    --inverted-color: var(--primary-dark);
}
